<% include ../partials/header %>

  <header class="jumbotron text-center text-light d-flex justify-content-center rounded-0">
    <div class="jumbotron-text mt-5">
      <% if(noMatch !== null) { %>
        <h3 class="jumbotext"><%= noMatch %> </h3>
        <form action="/campgrounds" method="GET" class="input-group shadow-lg mt-3">        
          <input type="text" class="form-control" type="text" name="search" placeholder="Search Campgrounds..." aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-danger" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>        
        </form>
      <% } else { %>
        <h1 class="display-4 jumbotronTitle">Welcome To YelpCamp!</h1>
        <p class="lead">View our hand-picked campgrounds from all over the world</p>
        <form action="/campgrounds" method="GET" class="input-group shadow-lg mt-3">        
          <input type="text" class="form-control" type="text" name="search" placeholder="Search Campgrounds..." aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-danger" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>        
        </form>
      <!-- <a class="btn btn-outline-light mt-3" href="/campgrounds/new" role="button">New Campground</a>         -->
      <% } %>      
    </div>
  </header>
  
  <div id="campgroundHome" class="container">
    <div class="row">
      <% campgrounds.forEach(function(campground) { %>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card indexCards shadow border-0 mt-4">
            <a href="/campgrounds/<%= campground._id %>"><img id="campgroundCard" class="card-img-top" src="<%= campground.image %>"></a> 
            <div class="card-body">
              <h5 class="card-title text-capitalize">
                <a href="/campgrounds/<%= campground._id %>"><%= campground.name %></a>
                <% if (campground.price <= 50) { %>
                  <small class="float-right text-muted">$</small>
                <% } else if (campground.price < 100) { %>
                  <small class="float-right text-muted">$$</small>
                <% } else { %>
                  <small class="float-right text-muted">$$$</small>
                <% } %>                                             
              </h5> 
              <h6 class="card-subtitle">
                <% if(campground.comments.length === 0) { %>
                  <span class="text-muted">No Reviews</span>
                <% } else { %>
                  <% var stars = ['<i class="far fa-star text-danger"></i>', '<i class="far fa-star text-danger"></i>', '<i class="far fa-star text-danger"></i>', '<i class="far fa-star text-danger"></i>', '<i class="far fa-star text-danger"></i>'] %>
                  <% for(var i = 0; i < Math.round(campground.rateAvg); i++) { %>
                      <% stars[i] = '<i class="fas fa-star text-danger"></i>' %>
                  <% } %> 
                  <% for(var i = 0; i < stars.length; i++) { %>
                    <%- stars[i] %>
                  <% } %>
                  <% if (campground.comments.length === 1) { %>
                    <span class="text-muted"><%= campground.comments.length %> Review</span> 
                  <% } else { %>
                    <span class="text-muted"><%= campground.comments.length %> Reviews</span> 
                  <% } %>                
                <% } %>   
              </h6>             
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </div>

  <% include ../partials/footer %>