<% include ../partials/header %>

  <header class="jumbotron text-center text-light d-flex justify-content-center rounded-0">
    <div class="jumbotron-text mt-5">
      <% if(noMatch !== null) { %>
        <h3 class="jumbotext"><%= noMatch %> </h3>
        <form action="/campgrounds" method="GET" class="input-group shadow-lg mt-3">        
          <input type="text" class="form-control" type="text" name="search" placeholder="Search..." aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-danger" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>        
        </form>
      <% } else { %>
        <h1 class="display-4 jumbotronTitle">Welcome To YelpCamp!</h1>
        <p class="lead">View our hand-picked campgrounds from all over the world</p>
        <form action="/campgrounds" method="GET" class="input-group shadow-lg mt-3">        
          <input type="text" class="form-control" type="text" name="search" placeholder="Search..." aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-danger" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>        
        </form>
      <a class="btn btn-outline-light mt-3" href="/campgrounds/new" role="button">New Campground</a>        
      <% } %>      
    </div>
  </header>
  
  <div id="campgroundHome" class="container">
    <div class="row">
      <% campgrounds.forEach(function(campground) { %>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card indexCards shadow border-0 mt-4">
            <img id="campgroundCard" class="card-img-top" src="<%= campground.image %>">
            <div class="card-body">
              <h5 class="card-title">
                <%= campground.name %>
                <%= campground.rateAvg %>
                  <a href="/campgrounds/<%= campground._id %>" class="btn btn-danger btn-sm float-right">More Info</a>
              </h5>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </div>

  <% include ../partials/footer %>