<% include ../partials/header %>

  <header class="jumbotron text-center rounded-0">
    <div class="jumbotron-text">
      <h1 class="display-4">Welcome To YelpCamp!</h1>
      <p class="lead">View our hand-picked campgrounds from all over the world</p>
      <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add New Campground</a>
      <form action="/campgrounds" method="GET" class="form-inline">
        <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
        <button class="btn text-light my-2 my-sm-0 btn-sm bg-transparent border-0" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
  </header>

  <div id="campgroundHome" class="container">
    <div class="row">
      <% campgrounds.forEach(function(campground) { %>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card indexCards shadow border-0 mt-4">
            <img id="campgroundCard" class="card-img-top" src="<%= campground.image %>">
            <div class="card-body">
              <h5 class="card-title">
                <%= campground.name %>
                  <a href="/campgrounds/<%= campground._id %>" class="btn btn-info btn-sm float-right">More Info</a>
              </h5>

              <!-- <% for(var i = 0; i < campground.tags.length; i++) { %>
                <a href="/campgrounds/tag/<%= campground.tags[i] %>">#<%= campground.tags[i] %>
                </a>
              <% } %> -->

            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </div>

  <% include ../partials/footer %>