<% include ../partials/header %>

  <div id="campgroundHome" class="container">

    <h1 class="display-4">#<%= foundTag %></h1>
    <% if (campgrounds.length === 1) { %>
      <p class="lead"><strong><%= campgrounds.length %> </strong> campground</p>
    <% } else { %>
      <p class="lead"><strong><%= campgrounds.length %> </strong> campgrounds</p>
    <% } %>

    <div class="row">
      <% campgrounds.forEach(function(campground) { %>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card text-center" style="margin-top: 25px;">
            <img id="campgroundCard" class="card-img-top" src="<%= campground.image %>">
            <div class="card-body">
              <h5 class="card-title">
                <%= campground.name %>
              </h5>

              <!-- <% for(var i = 0; i < campground.tags.length; i++) { %>
                <a href="/campgrounds/tag/<%= campground.tags[i] %>">#<%= campground.tags[i] %>
                </a>
              <% } %> -->
              <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>
        <% }) %>
    </div>

  </div>

  <% include ../partials/footer %>